<div ng-controller="HomeCtrl">

  <!-- jumbotron timer -->
  <div class="jumbotron text-center">
    <div class="container">
      <h1 id="title">POMODORO TIMER</h1>
      <p id="description">What's the&nbsp;<a href="http://pomodorotechnique.com/" target="_blank">Pomodoro Technique</a>?</p>
      <pomodoro-timer></pomodoro-timer>
    </div>
  </div>

  <!-- completed tasks -->
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h3><u>Completed Tasks</u></h3>
        <p><input type="text" id="addTask" ng-model="task" placeholder="Add one and press enter" ng-keyup="$event.keyCode == 13 && addTask()" /></p>
        <li ng-repeat="task in tasks | orderBy:'-id'">{{task.task}}&nbsp;<span ng-click="removeTask($index, task)" class="pointer">[remove]</span></li>
      </div>
    </div>
  </div>

</div>
